<div class="home_container">

  <app-card
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202306/1301/98af148cb3f2469d4268eb15b235c255eeeec1757eda1fd6.png?w=440&thumb=false"
    gameLabel="DELUXE"
    gameType="EDIÇÃO DIGITAL DELUXE"
    gamePrice="R$ 399,50"></app-card>
  <app-card
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202306/1219/1c7b75d8ed9271516546560d219ad0b22ee0a263b4537bd8.png?w=440&thumb=false"
    gameLabel="DIGITAL"
    gameType="DIGITAL | PS5"
    gamePrice="R$ 349,99"></app-card>
  <app-card
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202302/2409/1f465484e5e930c5a7b55ee28effb150f900c86a8f1eb50d.png?w=780&thumb=false"
    gameLabel="DEMO"
    gameType="DEMO PS4 E PS5"
    gamePrice="Gratuito"></app-card>
  <app-card
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202210/0712/BiS5QP6h4506JHyJlZlVzK9D.jpg?w=780&thumb=false"
    gameLabel="STANDARD EDITION"
    gameType="PS4 | PS5"
    gamePrice="R$ 171,27"></app-card>
  <app-card
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202210/0712/BiS5QP6h4506JHyJlZlVzK9D.jpg?w=780&thumb=false"
    gameLabel="DELUXE EDITION"
    gameType="PS4 | PS5"
    gamePrice="R$ 227,15"></app-card>
  <app-card
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202308/2120/c43634250d3be777a32ff55980ebe29889ad6cc4a337d3b5.png?w=780&thumb=false"
    gameLabel="DIGITAL"
    gameType="PS4 | PS5"
    gamePrice="Gratuito"></app-card>
  <app-card
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202307/0710/28b62abf77fde8a35e133f69a9a253e4307b2a04d2040699.jpg?w=780&thumb=false"
    gameLabel="STANDARD EDITION"
    gameType="PS4 | PS5"
    gamePrice="R$ 358,90"></app-card>

  <app-card
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202308/0910/1d1d03496f518591cf53b73aaa39a85649ada3887f6ed1b6.jpg?w=780&thumb=false"
    gameLabel="ULTIMATE EDITION"
    gameType="PS4 | PS5"
    gamePrice="R$ 528,90"></app-card>
</div>
