<div class="menu-bar_container">
  <div class="menu-bar_logo">
    <img
    src="assets/ps-logo.png"
    alt="Logo playstation"
    srcset=""
    width="140px"
    height="32px">
  </div>
  <div class="menu-bar_item">
    <ul>
      <li><a href="https://store.playstation.com/pt-br/pages/latest">Novidades</a></li>
      <li><a href="https://store.playstation.com/pt-br/pages/collections">Coleções</a></li>
      <li><a href="https://store.playstation.com/pt-br/pages/deals">Ofertas</a></li>
      <li><a href="https://store.playstation.com/pt-br/pages/ps5">PS5</a></li>
      <li><a href="https://store.playstation.com/pt-br/pages/subscriptions">Assinaturas</a></li>
      <li><a href="https://store.playstation.com/pt-br/pages/browse">Navegar</a></li>
    </ul>

