/* You can add global styles to this file, and also import other style files */
*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  background: rgb(209, 209, 217);
  background: linear-gradient(90deg, rgb(233, 233, 241) 0%, rgb(225, 225, 231) 35%, rgb(217, 217, 223) 100% );
}
